<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
     <!-- CSS only -->
    <link rel="stylesheet" href="css/hmpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="//db.onlinewebfonts.com/c/e7f249e71a563eed9c495835657eb9c2?family=Poetsen+One" rel="stylesheet" type="text/css"/>
    <link href="//db.onlinewebfonts.com/c/57e6c7b216f942c4651a586db3338258?family=Lemon+Juice" rel="stylesheet" type="text/css"/>
    <title>Home page</title>


    
</head>

<body>
    <div class="container">
        <nav class="nav">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
              <i class="fas fa-bars"></i>
            </label>
            <label class="logo">
                <i> 
                <img class="lg" src="img/technology (1).png" alt=""></i>
            </label> 
            <ul>
                <li class="searchbox cont">
                        <!-- searchsign -->
                        <img class="searchsign" src="img/search png.png" alt="">
                        <!-- searchtext -->
                        <input class="searchtext" type="text" placeholder="search">
                        <!-- filtersign -->
                          <img class="filter" src="img/filter.png" alt="">
                </li>
                <!-- help -->
                <li class="help cont1 cont"><img class="help" src="img/help.png" alt=""></li>
                <!-- setting -->
                <li class="setting cont2 cont"><img class="setting" src="img/settings.png" alt=""></li>
                <!-- logout button -->
                <li class="logoutcont">
                     <button class="logout cont" onclick="myfunction()">Log-out ➪</button>
                </li>
            </ul>
        </nav>
        <!-- lower body -->
 
    <!-- main headers -->
    <div class="purple-container" >
      <h2 class="p-tittle">How can we help you?</h2>
      <!-- message -->
      <div class="circle-container one">
        <img class="d" src="img/text.png" alt="">
        <h4 class="p-text">Messages</h4>
      </div>
      <!-- news anad update -->
      <div class="circle-container two">
        <img class="d" src="img/news.png" alt="">
        <h4 class="p-text">News $ Updtes</h4>
      </div>
      <!-- notes -->
      <div class="circle-container three">
        <img class="d" src="img/notebook.png" alt="">
        <h4 class="p-text">Get Notes</h4>
      </div>
      <!-- ask anything -->
      <div class="circle-container four">
        <img class="d" src="img/student ask (1).png" alt="">
        <h4 class="p-text">Ask Anything</h4>
      </div>
      <!-- polls -->
      <div class="circle-container five">
        <img class="d" src="img/polls.png" alt="">
        <h4 class="p-text">polls</h4>
      </div>
      <!-- saved -->
      <div class="circle-container six">
        <img class="d bookmark" src="img/bookmark1.png" alt="">
        <h4 class="p-text">Saved</h4>
      </div>
    </div>
    <!-- make friend -->
    <div class="lowerprop makefrnd"><h4 class="lp">Make Friend</h4>
      <img class="injoin " src="img/frnd.png" alt=""></div>
    <!-- chat with people -->
    <div class="lowerprop chat"><h4 class="lp">Chat with People</h4>
      <img class="injoin " src="img/chat-with-people.png" alt=""></div>
      <!-- join the community -->
  <div class="lowerprop join"> <h4 class="lp">Join the Community</h4>
    <img class="injoin cmnt" src="img/community 1.png" alt=""></div>
  </div>
   
  <script>
     function myfunction(){
            window.location.href="login"
        }
  </script>
    </div>
 
</body>

</html>